*.swp
google_auth.json
auth.json
zoom_auth.json
discord_auth.json
*.jpg
*.png
~$*
__pycache__/
test_output.xlsx
*.zip
already_assigned.json
sv_assignment_*.xlsx
warnings.xlsx
final_session_db.xlsx
paper_list.json
session_list.json
missing_items_db.xlsx
aws.json
vis2020_discord_archive.json
